* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Navbar*/
header{
  background-color: #0f172a;
  color: #e2e8f0;
  padding: 20px;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  color: #22c55e;
  font-size: 20px;
}
a {
  text-decoration: none;
}

.content__navbar {
  display: flex;
}

ul {
  list-style-type: none;
}

.content__navbar li {
  margin: 0 15px;
}

.content__navbar li a {
  color: #e2e8f0;
  font-weight: bold;
}

.content__navbar li a:hover{
  color: #22c55e;
  text-decoration: underline;
}
