@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/*Navbar*/
header{
  background-color: #0f172a;
  color: #e2e8f0;
  padding: 15px;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  color: #22c55e;
  font-size: 28px;
  font-family: 'Ranchers', cursive;
}
a {
  text-decoration: none;
}

.content__navbar {
  display: flex;
}

ul {
  list-style-type: none;
}

.content__navbar li {
  margin: 5px 15px 0;
}

.content__navbar li a {
  color: #e2e8f0;
  font-weight: bold;
}

.content__navbar li a:hover{
  color: #22c55e;
  text-decoration: underline;
}

.cart-cont span {
 margin: 5px;
}

/*contador*/

.counter{
  width: fit-content;
  background-color: #0f172a;
  color: #22c55e;
  margin: auto;
  padding: 1rem;
  text-align: center;
  border-radius: 15px;
}

.counter button {
  padding: 5px;
  margin: 0px 7px;
}

.counter div button{
  margin: 15px;
  padding: 10px;
  background-color: #22c55e;
  color: #0f172a;
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
}

.counter div button:hover{
  background-color: #0f172a;
  color: #22c55e;
  border: 1px solid #22c55e;
}

/* Item */

#root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 23px;
}

#root header{
  position: absolute;
  width: 100%;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: auto;
  border: 3px solid #fff;
  border-radius: 25px;
  text-align: center;
  color: #0f172a;
  font-weight: bold;
  padding: 0px 5px 5px;
  margin: 70px auto 7px;
}

.product img {
  padding: 15px 0;
  width: 100%;
  object-fit: cover;
  display: flex;
}

.product:hover{
  border: 3px solid #22c55e;
}

.btn-view {
  background-color: #0f172a;
  color: #fff;
  margin: 7px;
  padding: 7px 20px;
  border-radius: 10px;
}

.btn-view:hover{
  color: #22c55e;
}
/* Detail */

.load{
  text-align: center;
  margin-top: 250px;
}

.container{
  width: 98%;
  margin: auto; 
}

.detail__image {
  width: 500px;
  margin-left: 50px;
}

.content{
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

/* Cart Item */

.itemCart {
  display: flex;
  width: 980px;
}

.itemCart img {
  width: 280px;
  margin-right: 1rem;
}

.description, p {
  font-size: 20px;
  width: 370px;
  padding: 5px;
}

.description, button{
  padding: 5px 10px;
  text-align: center;
  margin-top: 15px;
}

.cartDetail .empty {
  margin-top: 180px;
  text-align: center;
}

.cartDetail{
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.check {
  position: fixed;
  margin: 15px;
  padding: 10px 0;
  left: 75%;
  background-color: #22c55e;
  border: 2px solid #0f172a;
  border-radius: 10px;
  text-align: center;
}

.check p {
  font-weight: bold;
  font-size: 18px;
  margin: 12px;
}

.check button {
  display: flex;
  flex-direction: column;
  margin: 2px 120px;
  padding: 10px 15px;
  background-color: #0f172a;
  color: #22c55e;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.check button:hover{
  background-color: #22c55e;
  color: #0f172a;
  border: 2px solid #0f172a;
}